{% extends "base.html" %}
{% block title %}Sabr Central{% endblock %}
{% block head_extra %}

{% endblock %}
{% block content %}
<div class="container">
    <h1>مرحبًا بك في Sabr Central</h1>
    {% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}
    <p>هذا هو أول إصدار من الموقع باستخدام Python وHTML وCSS وJavaScript.</p>

    <button id="btnMessage">جلب رسالة من Python</button>
    <p id="result"></p>
  </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}