{% extends "base.html" %}
{% block title %}تسجيل الدخول{% endblock %}{% block content %}
<div class="container">
    <h1>تسجيل الدخول</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="msg {{ category }}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="post">
      <label>اسم المستخدم</label>
      <input type="text" name="username" required>

      <label>كلمة المرور</label>
      <input type="password" name="password" required>

      <button type="submit">دخول</button>
    </form>

  </div>
{% endblock %}