{% extends "base.html" %}
{% block title %}إدخال طالب{% endblock %}{% block content %}
<div class="container">
    <h1>إدخال طالب جديد</h1>

    <div class="panel">
      <form method="post">
        <label>الاسم والكنية</label>
        <input type="text" name="full_name" id="full_name" required>

        <label>اسم الأب</label>
        <input type="text" name="father_name" id="father_name">

        <label>اسم الأم</label>
        <input type="text" name="mother_name" id="mother_name">

        <label>كنية الأم</label>
        <input type="text" name="mother_kunya" id="mother_kunya">

        <label for="birth_date">سنة الميلاد</label>
<select id="birth_date" name="birth_date" class="select-year">
  <option value="">اختر السنة</option>
  {% for year in range(1950, 2027) %}
    <option value="{{ year }}">{{ year }}</option>
  {% endfor %}
</select>
        <label>الرقم الوطني</label>
        <input type="text" name="national_id" id="national_id">

        <label>القيد</label>
        <input type="text" name="family_book" id="family_book">

        <label>البلدة</label>
        <input type="text" name="town" id="town">

        <label>الجامع الذي يحفظ به القرآن</label>
        <input type="text" name="mosque_name" id="mosque_name">

        <label>رقم التواصل</label>
        <input type="text" name="phone_number" id="phone_number">

        <button type="submit">حفظ الطالب</button>
      </form>
    </div>

    <div class="back-link">
      <a href="{{ url_for('member_dashboard') }}">رجوع</a>
    </div>
  </div>
{% endblock %}